<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu %>

<div class="container-fluid bg-3 text-center">    
  <h1><%= page %></h1>
  <div class="row">
	<h2>Charity Chain is one of the project for donations based on Quorum (Blockchain) to keep transactions private and trustworthy. </h2>
       <br>
	<h2>Team Information</h2>
    <div class="col-sm-4">
      <h3 class="subHead">Harshika Batra</h3>
                    <p>Frontend Developer</p>
    </div>
    <div class="col-sm-4"> 
      <h3 class="subHead">Samarthi Lahiri</h3>
                    <p>Smart Contract Developer</p>
    </div>
    <div class="col-sm-4"> 
      <h3 class="subHead">Utkarsh Kumar</h3>
                    <p>Frontend and Blockchain Network Developer</p>
    </div>
  </div>
</div>

</body>
<% include partials/script %>
</html>
