<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu %>

<br><br><br>
<form action="#">
         <button type="submit">Donate</button>
      </form>
</body>
<% include partials/script %>
</html>
